@model MiniTwit.Models.Auth.RegisterViewModel

<h2>Sign Up</h2>

@if (TempData["Error"] != null)
{
    <div class="error"><strong>Error:</strong> @TempData["Error"]</div>
}

@if (TempData["Success"] != null)
{
    <div class="success"><strong>Success:</strong> @TempData["Success"]</div>
}

<form method="post">
    <dl>
        <dt>Username:</dt>
        <dd><input type="text" asp-for="Username" /></dd>

        <dt>E-Mail:</dt>
        <dd><input type="text" asp-for="Email" /></dd>

        <dt>Password:</dt>
        <dd><input type="password" asp-for="Password" /></dd>

        <dt>Password <small>(repeat)</small>:</dt>
        <dd><input type="password" asp-for="Password2" /></dd>
    </dl>

    <div class="actions">
        <input type="submit" value="Sign Up">
    </div>
</form>
