@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | MiniTwit</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>

<body>
    <div class="page">
        <h1>Does in work?</h1>
        <div class="navigation">
            @if (SignInManager.IsSignedIn(User))
            {
                var username = UserManager.GetUserName(User);
                <a asp-controller="Home" asp-action="Index">my timeline</a>
                <text>|</text>
                <a asp-controller="Home" asp-action="PublicTimeline">public timeline</a>
                <text>|</text>
                <a asp-controller="Auth" asp-action="Logout">sign out [@username]</a>
            }
            else
            {
                <a asp-controller="Home" asp-action="PublicTimeline">public timeline</a>
                <text>|</text>
                <a asp-controller="Auth" asp-action="Register">sign up</a>
                <text>|</text>
                <a asp-controller="Auth" asp-action="Login">sign in</a>
            }
        </div>
        <div class="body">
            @RenderBody()
        </div>
        <div class="footer">
            MiniTwit &mdash; An ASP.NET Core Application
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>

</html>
