@model MiniTwit.Models.Auth.RegisterViewModel

<h2>Sign Up</h2>

@await Html.PartialAsync("_Notification")

<form method="post">
    <dl>
        <dt>Username:</dt>
        <dd><input type="text" asp-for="Username" /></dd>

        <dt>E-Mail:</dt>
        <dd><input type="text" asp-for="Email" /></dd>

        <dt>Password:</dt>
        <dd><input type="password" asp-for="Password" /></dd>

        <dt>Password <small>(repeat)</small>:</dt>
        <dd><input type="password" asp-for="PasswordConfirmation" /></dd>
    </dl>

    <div class="actions">
        <input type="submit" value="Sign Up">
    </div>
</form>
